*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	padding: 20px;
	background: #202020;
	display: flex;
}

header{
	border: 3px #00FA9A solid;
	background: black;	
	border-radius: 20px;
	margin-left: 100px;
	width: 350px;
	height: 250px;
	align-items: center;
	text-align-last: center;
	margin-bottom: 10px;
}
.foto{
	margin-bottom: 15px;
	margin-top: 10px;
}
header h1{
	color: whitesmoke;
}
#artizquierdo{
	border: 3px #00FA9A solid;
	background: black;	
	border-radius: 20px;
	margin-left: 100px;
	width: 350px;
	height: 400px;
	display: grid;
  	grid-template-columns: 1fr;
  	gap: 16px;
}
aside{
	display: flex;
}
aside div{
	color: black;
	border: 3px #00FA9A solid;
	background: black;	
	border-radius: 20px;
	margin-left: 40px;
	width: 900px;
	height: 660px;
	padding: 30px;
	font-size: 20px;
}
#links{	
	padding: 25px;
	text-align: center;

}
.icon{
	display: flex;
}
.contacto{
	min-width: 100%;
  	display: flex;
  	align-items: center;
  	gap: 16px;
  	margin-left: 40px;
  	margin-top: 30px;
}
.text{ 
	color: gray;
	padding-top: 5px;
 }
.sub{
 	color: #00FA9A;
  	text-transform: uppercase;
  	margin-bottom: 2px;
}
.icon2{
	padding: 25px;
}
.subt{
	color: white;
}
.p{
	color:	#F5FFFA;
}
